<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="template">
<body>
<section layout:fragment="content">
    <form th:action="@{/task/edit}" th:object="${task}" method="post">
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <p>Subject: <input type="text" th:field="*{subject}"/></p>
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</section>
</body>
</html>
